<div class="modal-header">
  <h2 class="modal-title">Edit Class</h2>
  <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
  <div class="mb-5">
    <label class="fs-6 fw-bold form-label required">Title</label>
    <input type="text" class="form-control form-control-solid" [(ngModel)]="title" />
  </div>
  <div class="mb-5">
    <label class="fs-6 fw-bold form-label required">Description</label>
    <ckeditor [data]="description" (change)="onChange($event)" [config]="{ versionCheck: false }"></ckeditor>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-light me-3" (click)="activeModal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
